# Data Science Tools and Ecosystem

In this notebook, we are going to look at a few tools and ecosystems that are used in the data science industry.

<b>Objectives: </b>
<ul>
    <li>Languages in Data Science</li>
    <li>Libraries in Data Science</li>
    <li>Development Environments in Data Science</li>
    <li>Arithmetic Expressions in Python</li>
</ul>

Some of the popular languages used in data science are - 
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Julia</li>
    <li>Scala</li>
</ol>

Libraries commonly used by data scientists include - 
<ol>
    <li>NumPy</li>
    <li>Keras</li>
    <li>TensorFlow</li>
    <li>matplotlib</li>
</ol>

<table>
    <th>Data Science Tools</th>
    <tr><td>RStudio</td></tr>
    <tr><td>Apache Spark</td></tr>
    <tr><td>TensorFlow</td></tr>
</table>

### Given below are a few examples of arithmetic expressions executed in Python

In [3]:
#Here is an instance of multiplication followed by addition
(3*4) + 5

17

In [4]:
#Here is a conversion of 200 minutes into hours
200/60

3.3333333333333335

## Author
Athul Ravi